<!DOCTYPE html>
<html lang="en">

<head>
  <title> Contactos </title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link href="https://unpkg.com/primevue/resources/themes/bootstrap4-dark-purple/theme.css" rel="stylesheet">
  <link href="https://unpkg.com/primevue/resources/primevue.min.css " rel="stylesheet">
  <link href="https://unpkg.com/primeicons/primeicons.css " rel="stylesheet">
  <script src="https://unpkg.com/primevue/components/inputtext/inputtext.umd.min.js"></script>
  <script src="https://unpkg.com/primevue/components/button/button.umd.min.js"></script>
  <script src="https://unpkg.com/primevue/components/datatable/datatable.umd.min.js"></script>
  <script src="https://unpkg.com/primevue/components/column/column.umd.min.js"></script>
  <script src="https://unpkg.com/primevue/components/dropdown/dropdown.umd.min.js"></script>
  <script src="https://unpkg.com/primevue/components/calendar/calendar.umd.min.js"></script>

</head>

<body>


  <div id="app4">
    <h1>{{ message }}</h1>
    <h2>{{ message2 }}</h2>
    <div> 
      
    </div>
  </div>

  <div id="app">

  </div>
  <br>
  <br>

  <script>
    const vTemplate = `
      <form>
        <p v-if="spanActivo"></p>
            
            <p_inputtext type="text" v-model="txtnom" placeholder="Ingresa tu nombre"/> 
            
            <p_inputtext type="text" v-model="txtema" placeholder="Ingresa tu Email"/> 
            
            <p_inputtext type="text" v-model="txttel" placeholder="Ingresa tu celular"/> 
            
            <p_inputtext type="text" v-model="txtfec" placeholder="Ingresa tu fecha"/>
            <p-dropdown v-model="selectEstado" :options="estados" optionLabel="nombrestado" placeholder="Selecciona un Estado" />
            <p-button label="Enviar" icon="pi pi-users" iconPos="right" v-on:click="EnviarDatos($event)"></p-button>
            <br>
            <br>
            <br>
            <p-datatable :value="registros">
            <p_column field="id" header="ID" />
            <p_column field="nom" header="Nombre" />
            <p_column field="email" header="Email" />
            <p_column field="telefono" header="Telefono" />
            <p_column field="fecha" header="Fecha de Captura" />
            </p-datatable>
        
      </form>
        `;

    var vm = new Vue({
      template: vTemplate,
      components: {
        'p-calendar': calendar,
        'p_inputtext': inputtext,
        'p-button': button,
        'p-datatable': datatable,
        'p_column': column,
        'p-dropdown': dropdown
      },
      data: {
        spanActivo: true,
        txtnom: "",
        txtema: "",
        txttel: "",
        txtfec: "",
        cmdButton: "Enviar",
        registros: null,
        selectEstado: null,
        estados: [
          { nombrestado: 'Guadalajara', idestado: 1 },
          { nombrestado: 'Chiapas', idestado: 2 },
          { nombrestado: 'Guerrero', idestado: 3 },
          { nombrestado: 'Michoácan', idestado: 4 },
          { nombrestado: 'Estado de México', idestado: 5 }
        ]
      },
      methods: {
        EnviarDatos() {
          axios.post('http://localhost:3030/contactosreg', {
            id: 1,
            nom: this.txtnom,
            email: this.txtema,
            telefono: this.txttel,
            fecha: this.txtfec,
            estado:this.selectEstado,
            registros: null,

          })
            .then((response) => {

              this.registros = response.data;
              console.log(response.data);
              window.alert("Contacto Registrado");
            })
            .catch(function (error) {
              console.log(error);
            });
        }
        // }, data() {
        //   return {
        //     selectEstado: null,
        //     estados: [
        //       { edo: 'Guadalajara' },
        //       { edo: 'Chiapas' },
        //       { edo: 'Guerrero' },
        //       { edo: 'Michoácan' },
        //       { edo: 'Estado de México' }
        //     ]
        //   }
      }
    }).$mount('#app');



    var app4 = new Vue({
      data: {
        message: 'Bienvenido al mini Formulario!',
        message2: 'CONTACTOS'
      }
    }).$mount('#app4');


  </script>

</body>

</html>